* {
}

body {
    background-color: #fbf1c7;
    color: #3c3836;
    font-weight: bold;
    margin: 0;
    padding-top: 70px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 2rem;
}

.nav-links a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #3c3836;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #cc241d;
}

.nav-links a.active {
    color: #3c3836;
    background-color: #cc241d;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #cc241d;
    color: #3c3836;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

body.dark-mode {
    background-color: #282828;
    color: #ebdbb2;
}

body.dark-mode a {
    color: #ebdbb2;
}
